<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload it on the IBM Watson studio. (If IBM Watson Cloud service does not work in your system, follow the alternate Step 2 below)

Step2(alternate): Upload it in your SN labs environment using the upload button which is highlighted in red in the image below:
Remember to upload this Jobs_API file in the same folder as your current .ipynb file

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Run all the cells of the Jobs_API file. (Even if you receive an asterik sign after running the last cell, the code works fine.)

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [27]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [28]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [29]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [30]:
print(data)   # print the data just to check the output or for debugging

{'number': 10, 'people': [{'name': 'Sergey Prokopyev', 'craft': 'ISS'}, {'name': 'Dmitry Petelin', 'craft': 'ISS'}, {'name': 'Frank Rubio', 'craft': 'ISS'}, {'name': 'Stephen Bowen', 'craft': 'ISS'}, {'name': 'Warren Hoburg', 'craft': 'ISS'}, {'name': 'Sultan Alneyadi', 'craft': 'ISS'}, {'name': 'Andrey Fedyaev', 'craft': 'ISS'}, {'name': 'Jing Haiping', 'craft': 'Tiangong'}, {'name': 'Gui Haichow', 'craft': 'Tiangong'}, {'name': 'Zhu Yangzhu', 'craft': 'Tiangong'}], 'message': 'success'}

Print the number of astronauts currently on ISS.

In [31]:
print(data.get('number'))

10

Print the names of the astronauts currently on ISS.

In [32]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 10 astronauts on ISS
And their names are :
Sergey Prokopyev
Dmitry Petelin
Frank Rubio
Stephen Bowen
Warren Hoburg
Sultan Alneyadi
Andrey Fedyaev
Jing Haiping
Gui Haichow
Zhu Yangzhu

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [2]:
#Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [12]:
api_url = "http://127.0.0.1:5000/data"

payload1 = {"Location": "Los Angeles"}
payload2 = {"Location": "New York"}
payload3 = {"Location": "San Francisco"}
payload4 = {"Location": "Washington DC"}
payload5 = {"Location": "Seattle"}
payload6 = {"Location": "Austin"}
payload7 = {"Location": "Detroit"}

response = requests.get(api_url, params=payload1)
data = response.json()
data1 = pd.json_normalize(data)

response = requests.get(api_url, params=payload2)
data = response.json()
data2 = pd.json_normalize(data)

response = requests.get(api_url, params=payload3)
data = response.json()
data3 = pd.json_normalize(data)

response = requests.get(api_url, params=payload4)
data = response.json()
data4 = pd.json_normalize(data)

response = requests.get(api_url, params=payload5)
data = response.json()
data5 = pd.json_normalize(data)

response = requests.get(api_url, params=payload6)
data = response.json()
data6 = pd.json_normalize(data)

response = requests.get(api_url, params=payload7)
data = response.json()
data7 = pd.json_normalize(data
                          

print(len(data1))
print(len(data2))
print(len(data3))
print(len(data4))
print(len(data5))
print(len(data6))
print(len(data7))

640
3226
435
5316
3375
434
3945

In [15]:
Combined_data=data1.append(data2).append(data3).append(data4).append(data5).append(data6).append(data7)
Combined_data

,Functional Area,Id,Industry,Job Experience Required,Job Title,Key Skills,Location,Role,Role Category
0,"Marketing , Advertising , MR , PR , Media Plan...",0,"Advertising, PR, MR, Event Management",5 - 10 yrs,Digital Media Planner,Media Planning| Digital Media,Los Angeles,Media Planning Executive/Manager,Advertising
1,"Strategy , Management Consulting , Corporate P...",10,"Courier, Transportation, Freight , Warehousing",5 - 10 yrs,Executive Assistant To Chairman,secretary| executive assistant| ea,Los Angeles,Corporate Planning/Strategy Manager,Corporate Planning/Consulting/Strategy
2,"HR , Recruitment , Administration , IR",90,"Construction, Engineering, Cement, Metals",8 - 12 yrs,Manager (Service Operation),ERP| Succession Planning| MIS| Reports| Talent...,Los Angeles,Training Manager,HR/ Recruitment / IR
3,"IT Software - Application Programming , Mainte...",91,"IT-Software, Software Services",0 - 1 yrs,DevOps Engineer Intern,Intern| Linux| Windows| Unix| DNS| C++| Perl| ...,Los Angeles,Software Developer,Programming & Design
4,"IT Software - Application Programming , Mainte...",92,"IT-Software, Software Services",2 - 5 yrs,PHP Developer (wordpress & Woo Commerce/shopif...,C| Woocommerce| Magento| Wordpress| MySQL| PHP...,Los Angeles,Software Developer,Programming & Design
...,...,...,...,...,...,...,...,...,...
3940,"IT Software - Embedded , EDA , VLSI , ASIC , C...",29995,"Semiconductors, Electronics",9 - 12 yrs,MTS-Software-Engineer,Graphics| C++| USB| Project management| SOC| F...,Detroit,Software Developer,Programming & Design
3941,"ITES , BPO , KPO , LPO , Customer Service , Op...",29996,"Education, Teaching, Training",1 - 5 yrs,Client Relationship Manager,Service delivery| LMS| CRE| Integration servic...,Detroit,Operations Manager,Operations
3942,"Teaching , Education , Training , Counselling",29997,"Education, Teaching, Training",4 - 6 yrs,Assoc. Prof.- CS,Counselor| Mentor| Trainer| Advisor| Teaching,Detroit,Lecturer/Professor,University Level
3943,"IT Software - Application Programming , Mainte...",29998,"IT-Software, Software Services",5 - 10 yrs,Application/Cyber Security Specialist-New Jersey,Security Analysis| Software Development Life C...,Detroit,Software Developer,Programming & Design
3944,"Marketing , Advertising , MR , PR , Media Plan...",29999,"IT-Software, Software Services",2 - 7 yrs,Press Release Writer - SEO,Press release| Public relations| Publishing| W...,Detroit,Search Engine Optimisation /SEO Specialist,Online/Digital Marketing

In [16]:
def get_number_of_jobs_T(technology):
    key_skills = Combined_data['Key Skills']
    jobs=[]
    for eachLine in key_skills:
        eachLineSplit = eachLine.split(" ")
        for x in range(0, len(eachLineSplit)):
            if technology in eachLineSplit[x]:
                jobs.append(1)
    number_of_jobs = len(jobs)
    return technology ,number_of_jobs

Calling the function for Python and checking if it works.

In [17]:
get_number_of_jobs_T("Python")

('Python', 781)

#### Write a function to find number of jobs in US for a location of your choice

In [18]:
def get_number_of_jobs_L(location):
    location_data = Combined_data[Combined_data["Location"] == location]
    jobs = location_data["Job Title"]
    number_of_jobs = len(jobs)
    return location, number_of_jobs

Call the function for Los Angeles and check if it is working.

In [20]:
get_number_of_jobs_L("Detroit")

('Detroit', 3945)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all locations for which you need to find the number of jobs postings.

In [21]:
Locations = ["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle", "Austin", "Detroit"]

Import libraries required to create excel spreadsheet

In [24]:
!pip install openpyxl
import openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 29.0 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

Create a workbook and select the active worksheet

In [ ]:
# your code goes here

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [39]:
#your code goes here
Results_df = pd.DataFrame()
Results_df["Locations"] = Locations
Job_Number=[]
for n in Locations:
    Jobs=get_number_of_jobs_L(n)
    Job_Number.append(Jobs[1])
Results_df["Job_Number"] = Job_Number
Results_df.set_index('Locations', drop=True, inplace=True)
Results_df

               Job_Number
Locations
Los Angeles           640
New York             3226
San Francisco         435
Washington DC        5316
Seattle              3375
Austin                434
Detroit              3945

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [40]:
#your code goes here
Results_df.to_excel('job-postings.xlsx', sheet_name='Job Postings')

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [41]:
# your code goes here
Results2_df = pd.DataFrame()
Languages=['C', 'C#', 'C++', 'Java', 'JavaScript', 'Python', 'Scala', 'Oracle', 'SQL Server', 'MySQL Server', 'PostgreSQL', 'MongoDB']
Results2_df["Languages"] = Languages
Job_Number=[]
for n in Languages:
    Jobs=get_number_of_jobs_T(n)
    Job_Number.append(Jobs[1])
Results2_df["Job_Number"] = Job_Number
Results2_df.set_index('Languages', drop=True, inplace=True)
Results2_df.to_excel('job-postings.xlsx', sheet_name='Languages')

## Author

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2022 IBM Corporation. All rights reserved.